body {
    font: Arial, Helvetica, sans-serif;
}

#container {
    width: 1220px;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 0 auto;
    background: rgb(0,69,104);
}

#header {
    height: 100px;
    padding: 10px 0;
}

#brand {
    float: left;
    width: 800px;
}


h1 a {
    font-size: 50px;
    font-weight: 100;
    color: lightblue;
    text-decoration: none;
    position: relative;
}

#brand img {
    float: left;
    /* width: 100px; */
    height: 100px;
}
/* entire searchbox div floating right with a green background */
#searchbox {
    float: right;
    /*
     * background: linear-gradient(#E4F2B9, #BAE95B);
     * background: -webkit-linear-gradient(#E4F2B9, #BAE95B);
     * background: -o-linear-gradient(#E4F2B9, #BAE95B);
     * background: -moz-linear-gradient(#E4F2B9, #BAE95B);
     */
    width: 300px;
    height: 50px;
    padding: 20px 20px 0px 20px;
    /* add space between search box and border of the header */
    margin-top: 20px;

}

/* text class for input of search box. */
.text {
    float:left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: rgb(0,69,104);
    /*
     * image created using logomakr.com
     * http://www.flaticon.com/authors/freepik
     * resized using imagemagick command: convert -resize "25>" image.png image1.png
     */
    background: white url(images/resize_search.png) right center no-repeat;
    /* get rid of default dark border */
    border: 1px solid #000000;

}

/* submit class for submit button of search box */
.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: rgb(0, 69, 104);
    /* background-color property cannot be used for buttons */
    background: lightblue;
    font-size: 15px;
}
.clear {
   clear: both;
}

#menu {
    height: 70px;
    background:lightblue;
    border: 2px solid #000000;
    border-radius: 20px;
    /* to add padding between list items and menu div */
    padding: 7px 0;
    margin: 0 8px 0 8px;
    text-align: center;
    
}

#menu ul {
    text-align: center;
}
/* all lists inside the document will be styled with this tag */
ul {
    list-style: none;
}

#menu ul li {
    /* get list to be horizontal by setting float to left */
    /* float: left; */
    display: inline-block;
    padding: 0 30px;
    width: 300px;
    height: 30px;
    border-right: 1px solid #5d12e7;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

#menu ul li:last-child {
    border-right: none;
}
#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    color: rgb(0,69,104);
    /* to center the text in the divider bars, line height */
    line-height: 30px;
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 22px;
    font-weight: bold;
    color:#01141e;
}

.sidebar {
    height: 520px;
    width: 375px;
    background-color: lightblue;
    border: 2px solid #000000;
    border-radius: 20px;
    color: rgb(0, 69, 104); 
    /* add padding to sidebar so we can have a gap before header */
    padding: 10px 0px 10px 0px;
    margin-left: 8px;
    margin-top: 10px;
    margin-right: 22px;
    display: inline-block;
}

#rightsidebar {
    margin-right: 5px;
}
.sidebar h3 {
    color: rgb(0,69,104);
    font-size: 30px;
    text-align: center;
}

.headerImage {
    text-align: center;
}
.img-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #000000;
}
.img-oval {
    height: 150px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid #000000;
}
.sidebar ul {
    padding-top: 3px;
}

.sidebar ul li {
    /* create space between list items */
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 5px;
    padding-top: 14px;
    font-size: 20px;
    /* image from logomakr */
    background: no-repeat right center;
}

.ratingImages {
    height: 40px;
}
.logoImage {
    height: 30px;
    width: auto;
}
.footer {
    height: 60px;
    padding: 7px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightblue;
    text-align: right;
}
